/*Colores Claros*/

$transparent: transparent;
$blanco: #FFF;
$blanco-1: #FAFAFA;
$blanco-2: #F6F6F6;

/*Colores Oscuros*/

$negro: #000;

/*Titulos*/

$negro-1: #212121;
$negro-2: #272822;

/*Textos de parrafos*/

$negro-3: #424242;

/*Colores Adicionales*/

$dangerous:#E53935;
$warning:#FDD835;
$info:#1E88E5;
$blue: #0D47A1;
$orange:#EEE;